<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Manage Book</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>

<div class="container-fluid text-center">
    <div ><h2>Manage books</h2></div>
    <div class="m-2">
        <a class="h3" th:href="@{/books/new}">Add new book</a>
    </div>

    <!--/*@thymesVar id="message" type="JDOMAbout"*/-->
    <div th:if="${message}" class="alert alert-success text-center">
        [[${message}]]
    </div>

    <div>
        <table class="table table-bordered">
            <thead class="table-dark">
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Publish</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
            <th:block th:each="book : ${listBooks}">
                <tr>
                    <td>[[${book.id}]]</td>
                    <td>[[${book.title}]]</td>
                    <td>[[${book.author}]]</td>
                    <td>[[${book.publish}]]</td>
                    <td>
                        <a class="h4 mr-3" th:href="@{'/books/edit/'+${book.id}}">Edit</a>
                        <a class="h4" th:href="@{'/books/delete/'+${book.id}}">Delete</a>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>
</div>


</body>
</html>