<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Aplication</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<div class="container-fluid text-center">
    <h1>Library aplication</h1>
    <a class="h2" th:href="@{/books}">Manage books</a>
    <br>
    <a class="h2 " th:href="@{/newspapers}">Manage newspaper</a>
    <br>
    <a class="h2" href="#">Others</a>
</div>

</body>
</html>