<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Manage Newspaper</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>

<div class="container-fluid text-center">
    <div ><h2>Manage Newspapers</h2></div>
    <div class="m-2">
        <a class="h3" th:href="@{/newspapers/new}">Add new newspaper</a>
    </div>

    <br><br>
    <div>
        <form th:action="@{/newspapers}">
            <input type="text" class="col-sm-4 col-form-label m-2" placeholder="Enter the text to search" th:value="${keyword}" name="keyword" required/>

            <input type="submit" class="btn btn-primary m-2" value="Search"/>

            <input type="button" class="btn btn-secondary m-2" value="Clear" onclick="cancelForm()"/>
        </form>
    </div>
    <br><br>
    <!--/*@thymesVar id="message" type="JDOMAbout"*/-->
    <div th:if="${message}" class="alert alert-success text-center">
        [[${message}]]
    </div>

    <div>
        <table class="table table-bordered">
            <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Theme</th>
                <th>Territory</th>
                <th>Periodicity</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="newspaper : ${listNewspapers}">
                <tr>
                    <td>[[${newspaper.id}]]</td>
                    <td>[[${newspaper.title}]]</td>
                    <td>[[${newspaper.theme}]]</td>
                    <td>[[${newspaper.territory}]]</td>
                    <td>[[${newspaper.periodicity}]]</td>
                    <td>
                        <a class="h4 mr-3" th:href="@{'/newspapers/edit/'+${newspaper.id}}">Edit</a>
                        <a class="h4" th:href="@{'/newspapers/delete/'+${newspaper.id}}">Delete</a>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>
</div>
<span class=""><a th:href="@{'/'}">Home page</a></span>
<script type="text/javascript">
    function cancelForm() {
        window.location="/newspapers";
    }
</script>
</body>
</html>